*{
    margin: 0;
    padding: 0; 

::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
  }

  -webkit-tap-highlight-color: transparent;

  
}

a{
    text-decoration: none;
    color: inherit;
}